<nav class="navbar ghadow_gray no_border_radius">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Demo web</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#/home">Home</a></li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li> 
        <li><a href="#">Page 3</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="row bg-info">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<h1 class="text-center">
			Employee Details
		</h1>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="table-responsive">
  <table class="table ">
    <thead>
    	<th class="text-center active">Name</th>
    	<th class="text-center active">Designation</th>
    	<th class="text-center active">Pcakages</th>
    </thead>
    <tbody>

    	<tr class="success">
    		<th class="text-center">Anil Soni</th>
    		<th class="text-center">Hybrid Application Developer</th>
    		<th class="text-center">240000/-</th>
    	</tr>
    	<tr class="success">
    		<th class="text-center">Anil Soni</th>
    		<th class="text-center">Hybrid Application Developer</th>
    		<th class="text-center">240000/-</th>
    	</tr>
    	<tr class="success">
    		<th class="text-center">Anil Soni</th>
    		<th class="text-center">Hybrid Application Developer</th>
    		<th class="text-center">240000/-</th>
    	</tr>
    	<tr class="success">
    		<th class="text-center">Anil Soni</th>
    		<th class="text-center">Hybrid Application Developer</th>
    		<th class="text-center">240000/-</th>
    	</tr>
    	
    	
    </tbody>
  </table>
  <button type="button" class="btn btn-primary btn-block" ui-sref="home">Next</button>
</div>