<ion-view view-title="Help Me">
  <ion-content style="height: {{ScreenHeight}};" scroll="false">
  	<a class="item item-avatar">
	  <img src="img/ionic.png">
	  <h2>Barry weir</h2>
	  <p>Youth Pastor</p>
	  <!-- <p>green Pastors Church</p>
	  <p>Youth Pastor</p> -->
	</a>
    
    <!-- <div id="map" style="width: 100%;height: {{MapHeight}};"></div> -->
    <div id="map_canvas" style="width: 100%;height: {{MapHeight}};"></div>
    <div class="row">
    	<div class="col col-100">
    		<button class="button button-balanced button-block" ui-sref="tab.chat">Message Barry</button>
    	</div>
    </div>
  </ion-content>
</ion-view>
